APP_NAME=ConselhoTutelar
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=conselho_tutelar
DB_USERNAME=root
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1,127.0.0.1:3000
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

FILESYSTEM_DISK=public
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=stack
